html, body{
	height:100%;
	margin:0;
}
body {
    background-color:#E1FCFD;
}
/* dark mode till hemsidan*/
body.dark-mode{
	color: white;
	background-color: black;
}

/*Generellt*/
p{
	font-size:20px;
	color:black;
}
h1{
    text-align:center;
}
h3{
    margin-top:0px;
    color:black;
}

/*För footer (delar tagen från https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers) */
.wrapper{
	min-height:100%;
/* lika högt som footern */
/* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
footer{
	height: 50px;	
	background-color: #333;
	color:white;
	padding: 20px;
	text-align: center;  
	width: inherit; /*täcker bredden på bodyn*/
}
p.footer{
	color:white;
}


/*Navbar*/
nav.navbar {
    background-color: #4A5FC1;
    padding: 10px;
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
}
nav.navbar a {
   color: #fff;
   text-decoration: none;
   padding: 10px 50px;
   transition: .5s;
}
nav.navbar a:hover, nav.navbar div:hover {
    background-color: #394F8A;

}
.side {
   color: #fff;
   text-decoration: none;
   padding: 10px 50px;
   float:right; 
   margin-top:-10px;
   border:none;
}
/*Om Oss specifikt*/
h1.omoss{
	color:black;
}

/*Recept sidorna*/
h2.recept{
    display:table-caption;
    margin-left:300px;
	text-decoration:underline;
	color:black;
}
h2.ingredienser{
	display:table-caption;
	font-size: 20px;
	margin-bottom:-20px;
	margin-left: 80px;
	text-decoration:underline;
	padding-bottom:10px;
	color:black;
}
img.ingredienser{
	display:block; /*gör om till block så man kan använda margin left och margin right*/
	margin-left:auto;
	margin-right:auto;
	width: auto;
	height:300px;
}
ul.ingredienser{
    border: 5px dotted red;
    width:300px;
    height:auto;
	font-size:20px;
	color:black;
	list-style-type: square;
}
ul.ingredienser li{
	margin-bottom:10px;
}
ol.recept{
    vertical-align:middle;
    padding-left:30px;
    font-size:20px;
	color:black;
}
ol.recept li {
	padding-bottom:20px;
}
h1.recept{
	text-align:center;
	color:black;
	padding-top:60px;
}


/* Logga in knappen till Navbar (Stolen from w3schools (https://www.w3schools.com/howto/howto_css_modals.asp)) */
/* The background*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	color:black;
}
ul.inlogg{
	list-style-type:none;
}
ul.inlogg li{
	margin-bottom:4px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Till knapparna för recepten */
div.content { /*Content är till vita rutan man kan hitta i de flesta sidorna*/
    width: 1220px;
    height:auto;
    background-color:white;
    margin:1% auto 10% auto;
}
div.containerLayer { /*Till alla rader*/
    margin-top:10px;
}
.recipeContainer{ /* varje block i raden*/
    width: 405px;
    height:300px;
    border: 1px solid blue;
    display:table-cell;
    text-align:center;
    object-fit:contain;
    transition: .5s;
}
.recipeContainer:hover{
    background-color:deeppink;
}
/*för breda bilder*/
img.smaller{
	width: 270px;
	height:auto;
	padding-bottom:40px;
	padding-top:10px;
}
/*för avlånga bilder*/
img.smallerer{
	height: 200px;
	width:auto;
	padding-bottom:40px;
	padding-top:10px;
}



/*för kategorier*/
a.kategori{
    text-decoration: none;
	display:table-cell;
	border:2px solid black;
	background-color:#4A5FC1;
	height:200px;
	width:200px;
	padding:10px;
	font-size:30px;
	text-align:center;
	vertical-align:middle;
	color:black;
}
div.kategori{
	padding-left:700px;
	padding-top:140px;
}
a.subkategori{
	width:inherit;
	height: 150px;
	text-decoration:none;
}/*it's meant to give off the effect there's an underline lol*/
a.subkategori:hover{
	background-color:#394F8A;
}
div.katbild{
	display:table-cell;
	border:2px solid black;
}
div.katp{
	display:table-cell;
	border:2px solid black;
	width:inherit;
	vertical-align:middle;
	color:black;
	padding-left:10px;
}

